//vars
$sizeMobile: 576px;
$sizeTablet: 768px;
$sizeDesktop: 1200px;

$borderBox: 1px solid black;

//map
$colores: (
    fondo1: rgb(247, 233, 208),
    fondo2: rgb(246, 169, 5, 0.3),
    acento: rgb(246, 169, 5),
    hoverLink: #0000ff,
)

