* {
    margin: 0;
}

/* Comentario compilado */
// Comentario no compilado

@import 'variables';

@mixin acento {
    background-color: map-get($map: $colores, $key: acento);
    border-radius: 24px;
}

header {
    background-color: map-get($map: $colores, $key: fondo1);
    position: sticky;
    top: 0;
    z-index: 2;
    .nav-item {
        margin-left: 10px;
        transition: all 1s;
    }
    .logo {
        margin: 0 0 0 2%;
        transition: all 1s;
    }
}

body {
    font-family: 'roboto';
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .agenda {
        background-color: map-get($map: $colores, $key: acento);
        display: flex;
        height: 80vh;
        margin: 2% 10% 2% 10%;
        justify-content: center;
        align-items: center;
    }
    .card {
        background-color: map-get($map: $colores, $key: acento);
        text-align: center;
    }
    .bg-slogan {
        background-color: map-get($map: $colores, $key: acento);
    }
}

footer {
    background-color: map-get($map: $colores, $key: acento);
    a {
        color: inherit;
        text-decoration: none;
        transition: all 0.7s;
    }
    a:hover, a:focus {
        color: map-get($map: $colores, $key: hoverLink);
    }
}

@media (max-width: 768px) {
    form {
        width: 80%;
        }
    .card-text {
        font-size: medium !important;
    }
    .carousel {
        display: none;
    }
    .bg-slogan {
        background: url(../images/slogan.jpg) no-repeat center center;
        background-size: cover;
        height: 30vh;
        align-items: end;
    }
    .slogan {
        background-color: map-get($map: $colores, $key: fondo2);
        height: 30vh;
    }
}

@media (max-width: 1200px) {
    .card-text {
        font-size: large !important;
    }
    .brand-bar {
        display: none !important;
    }
    .brand-logo {
        display: none;
    }
}

@media (min-width: 768px) {
    .emph {
        @include acento;
    }
    form {
        width: 40%;
    }
}